@import "../../scss/fonts.scss";

.packageMediaPlayer {
    .sectionad {
        padding: 40px;
        width: 100vW;
        overflow-x: hidden;
        max-width: calc(100vW - 80px);
        margin-left: -40px;
        background-color: rgb(255, 137, 101);
        @media screen and(min-width: 1080px) {
            margin-left: calc(50% - 50vw);
            padding-left: 40px;
        }
        &__content {
            max-width: 1080px;
            margin: auto;
        }
    }
    .headline {
        font-family: "Eczar-Bold";
    }
    .headline__XXLarge {
        margin-bottom: 10px;
    }
    .headline__XLarge {
        text-align: left;
        margin-bottom: 10px;
    }
    .headline__Large {
        text-align: left;
        margin-bottom: 10px;
    }
    .headline__Medium {
        text-align: left;
        margin-bottom: 5px;
    }
    .code {
        text-align: left;
    }
    section {
        margin-bottom: 50px;
    }
    .paragraph.medium {
        text-align: left;
    }
    .paragraph.large {
        text-align: center;
        font-family: "Eczar-SemiBold";
        font-weight: bold;
    }
    .list {
        text-align: left;
        .paragraph {
            margin-bottom: 10px;
        }
    }
    .item {
        margin-bottom: 10px;
        .headline__Small {
            margin-bottom: 5px;
        }
        .list {
            .paragraph {
                margin-bottom: 5px;
            }
        }
    }
    &__list-install {
        .item {
            .paragraph {
                margin-bottom: 0px;
            }
            .code__block {
                margin-top: 12px;
            }
        }
    }
}