@import "../../scss/fonts.scss";
.paragraph {
    &.highlight {
        transition: .5s;
        font-weight: 900 !important;
        color: #ff4800;
    }
}
.header {
    .flex {
        gap: 5px 20px;
    }
}

.header__navigation-button {
    cursor: pointer;
    height: 100%;
    display: block;
    margin: auto !important;
    .paragraph {

    }
    @media screen and (max-width: 640px) {
        margin: auto 0 !important;
    }
}

.navMenu {
    position: absolute;
    padding: 30px;
    box-shadow: 2px 2px 2px #464646;
    width: calc(100% - 60px);
    left: 0;
    background: #f6f6f6;

    .modal__icon {
        z-index: 3;
        @media screen and(max-width: 370px) {
            top: 10px;
            right: 10px;
        }
    }

    &__selection {
        margin-top: -5px;
        position: relative;
        z-index: 2;
        background-color: #f6f6f6;
        .paragraph {
            width: auto !important;
            margin: 0 !important;
            transition: .5s;
            cursor: pointer;
        } 
        &-title {
            text-align: left !important;
            margin: 0 !important
        }
        @media screen and(min-width: 370px) {
            padding: 30px;
        }
    }

    &__links {
        position: absolute;
        padding: 30px;
        box-shadow: 2px 2px 2px #464646;
        width: calc(100% - 60px);
        left: 0;
        background: #f6f6f6;
        margin-top: 0px;
        .flex {
            margin: 0 0 0 0;
            .headline {
                margin: 0 0 0 0 !important;
                width: auto !important;
                text-align: left !important;
            }
            &__vertical {
                gap: 5px !important;
            }
        }
        .link {
            text-align: left;
            margin-right: 10px;
        }
        .navMenu__title {
            margin: 20px 0 20px 0 !important;
            width: auto !important;
            text-align: left !important;
        }
        &-mobile {
            padding: 0 !important;
            position: relative;
            background: inherit;
            box-shadow: none;
        }
        &-groups {
            gap: 30px !important;
        }

    }
    &__linkgroup {
        gap: 5px !important;
    }
}



.header {
    .selection-filler {
        .paragraph {
            margin-left: 0;
            text-align: left;
            font-style: italic;
            font-size: 15px;
            font-weight: 600;
            color: rgb(143, 143, 143);
        }
    }
    padding: 30px;
    @media only screen and (max-width: 640px) {
        padding: 10px;
        .modal {
            background: #f6f6f6;
            padding: 10px;
            width: calc(100% - 20px);
            max-height: calc(100%);
            min-height: 60px;
        }
    }
    box-shadow: 2px 2px 3px rgb(70, 70, 70);
    margin-bottom: 20px;
    &__head {
        @media only screen and (min-width: 640px) {
            flex-direction: row !important;
        }
        @media only screen and (max-width: 640px) {
            flex-direction: row-reverse !important;
        }
    }
    &__head .image, &__head .icon {
        max-width: 50px;
        max-height: 50px;
        box-shadow: none;
    }
    &__logo  {
        position: relative;
        z-index: 2;
        @media only screen and (max-width: 640px) {
            flex-direction: row !important;
        }
        .flex {
            gap: 10px !important;
            flex-wrap: nowrap;
            &__vertical {
                gap: 5px !important;
            }
        }
        .flex .image, .flex .icon {
            flex-direction: row !important;
            width: 60px !important;
            height: 60px;
            border-radius: 60px;
            border: 3px solid rgb(68, 68, 68);
            box-shadow: none;
        }
        .headline {
            position: relative;
            z-index: 2;
            color: 3px solid rgb(68, 68, 68);
            letter-spacing: -1px;
            line-height: 28px;
            margin: auto 0;
            font-family: "DragonFireLogo" !important;
        }
    }
    &__navigation {
        @media only screen and(min-width: 640px) {
            position: absolute;
            right: 20px;
        }
        .image, .icon {
            width: 50px !important;
            height: 50px !important;
        }
        @media only screen and (max-width: 640px) {
            max-width: 250px;
            margin: auto 0 auto auto;
        }
        .flex {
            flex-direction: row-reverse !important;
            margin-left: auto;
            width: 100%;
            margin-top: 5px;
        a .image, .image, a .icon, .icon {
            width: 40px !important;
            height: 40px !important;
            box-shadow: none;
            border: none;
        }
        .link, .paragraph{
            margin: auto 0;
            vertical-align: middle;
            font-weight: bold;
            @media screen and(max-width: 640px) {
                font-size: 16px !important;
            }
        }
        }
    }
}