@import "../../scss/fonts.scss";

.boilerplateExpress {
    .headline {
        font-family: "Eczar-Bold";
        text-align: left;
    }
    .headline__XXLarge {
        font-family: "Eczar-Bold";
        text-align: center;
    }
    .list {
        text-align: left;
        &__item {
            font-family: "Eczar-SemiBold";
            font-weight: bold;
            font-size: bigger;
            margin-bottom: 10px;
            text-align: left;
        }
        margin-bottom: 40px;
    }
}