@import "../../scss/fonts.scss";

.footer {
    padding: 40px 40px 8px 40px;
    box-shadow: -1px -1px 3px rgb(92, 92, 92);
    margin-bottom: 0;

    .flex {
        gap: 20px !important;
    }

    .headline {
        margin-bottom: 0;
        @media screen and(max-width: 640px) {
            margin-top: -10px;
        }
    }
    .copyright {
        margin: 20px auto -10px auto;
        @media screen and (min-width: 710px) {
            margin: 0 0 auto auto;
        }
        @media screen and(max-width: 640px) {
            margin-top: 0px;
            margin-bottom: -10px;
        }
    }
}