.gitInstallation {
    box-shadow: 3px 3px 5px 1px rgba(68, 68, 68, 0.397);
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    border: 2px solid rgba(155, 155, 155, 0.767);
    padding: 50px 60px 20px 60px;
    @media screen and (max-width: 640px) {
        padding: 40px 50px 15px 50px;
    }
    @media screen and (max-width: 375px) {
        padding: 10px 20px 5px 20px;
    }

    .headline {
        font-family: "Eczar-Bold";
    }
    .headline__XLarge {
        text-align: left;
        margin-bottom: 20px;
    }
    .headline__Large {
        text-align: left;
        margin-bottom: 10px;
    }
    .headline__Medium {
        text-align: left;
        margin-bottom: 20px;
    }
    .headline__Small {
        text-align: left;
    }
    .code {
        text-align: left;
        margin-bottom: 20px;
    }
    code {
        padding: 20px;
        word-wrap: break-word;
    }
    section {
        margin-bottom: 50px;
    }
    .paragraph.medium {
        text-align: left;
    }
    .paragraph.large {
        text-align: center;
        font-family: "Eczar-SemiBold";
        font-weight: bold;
    }
    .list {
        text-align: left;
        .paragraph {
            margin-bottom: 10px;
        }
    }
    .item {
        margin-bottom: 10px;
        .headline__Small {
            margin-bottom: 5px;
        }
        .list {
            .paragraph {
                margin-bottom: 5px;
            }
        }
    }
    &__list-install {
        .item {
            margin-bottom: 20px;
            .paragraph {
                margin-bottom: 0px;
            }
            .code__block {
                margin-top: 12px;
            }
        }
    }
}