@font-face {
    font-family: "DragonFireLogo";
    src: url("/src/assets/fonts/DragonFire.ttf");
}
@font-face {
    font-family: "Eczar-Bold";
    src: url("/src/assets/fonts/Eczar-Bold.ttf");
}
@font-face {
    font-family: "Eczar-SemiBold";
    src: url("/src/assets/fonts/Eczar-SemiBold.ttf");
}
@font-face {
    font-family: "Eczar-ExtraBold";
    src: url("/src/assets/fonts/Eczar-ExtraBold.ttf");
}